/* normalize css */
h1,h2,h3,h4,h5{
  font-family: 'Open Sans', sans-serif;
}
p,span{
  font-family: 'Lato', sans-serif;
}
.posRelative{
  position: relative;
}
.postQuestion{
  /* position: fixed; */
  color:#fff !important;
  /* width: 200px !important; */
  /* right: 20px; */
  margin-top:20px;
}
.postQuestion li:hover{
  background-color: #f3f3f3;
  color:#333 !important;
}
.postQuestion li:hover a:hover{
  text-decoration:none !important;
}
/* questions */
h3.title{
  font-family: 'Open Sans', sans-serif;
}
.question{
  font-size: 18px;
  margin-bottom:0;
}
.noDecoration{
  color: #111;
}
.noDecoration:hover{
  text-decoration:  none !important;
  color: #333 !important;
}
.questionTags:not(first-child){
  margin:0 2px;
}
code.codeLayout{
  background-color: #f3f3f3;
  min-height: 300px;
  max-height:500px;
  overflow-y: scroll;
  width: 100%;
  white-space: pre-line;
}
.clickable{
  cursor: pointer;
}
.loading {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index:9999;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* latest list  */
.latestUpdate .list-group .list-group-item:hover{
  background-color: #f3f3f3;
  border:0;
}
.latestUpdate .list-group .list-group-item{
  
  font-size: 14px;
}
.latestUpdate .list-group .list-group-item p > span{
  font-size: 12px;
}
.latestUpdate .footer{
  overflow:hidden;
}
/* skill set dropdown list */
.skillSetContainer .skillSet{
  max-height: 100px;
  /* position: absolute; */
  overflow:auto;
}
.skillSetContainer .skillSet .list-group-item:hover{
  background-color: #f3f3f3;
}
.skillSetContainer .skillSet .list-group-item{
  cursor:pointer;
  padding:5px;
}


/* manikonda css styles for post question */
*{
    margin:0;
    padding:0;
}

.post-section, .question-section{
    float: left;
    margin:10px;
}
.post-section div{
    margin:10px 0;
}
.post-section div textarea, .post-section div select, .post-section div input{
    padding:10px;
    border-radius: 5px;
    width:100%;
}

.post-section .action-btn{
    float: right;
}

.post-section .action-btn button{
    margin-left: 10px;
    font-weight:bold;
}

.question-section{
    width:100%;
}

.question-section .solution{
    background-color: white;
    border: 1px solid #dddddd;
    padding:10px;
    margin-bottom:10px;
}

.cke_inner{
    margin:0 !important;
}

.loader{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.view{
    margin-top:20px;
}
.number input{
    padding:5px;
    margin:20px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }

  .popup_body{
    height:100px;
    overflow: auto;
    margin:10px;
  }
  .popup_inner {
    position: absolute;
    height: fit-content;
    left: 30%;
    right: 30%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    border:1px solid #dddddd;
    border-radius: 5px;
  }

  .tag{
      background-color: palegreen;
      color:darkgreen;
      border-radius: 10px;
      border:1ps solid darkgreen;
  }

  .tag_inner{
      border:1px solid #dddddd;
      border-radius: 4px;
      margin:5px;
      padding:5px;
      cursor: pointer;
  }

  .login-form{
      position: absolute;
      left:50%;
      top: 50%;
      padding:20px;
      width: 300px;
      transform: translate(-50%,-50%);
      border:2px solid lightblue;
      border-radius: 10px;
      box-shadow: 10px 10px 5px #aaaaaa;
  }
  .login-form h2{
      color:blue;
  }

  legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
  }
  .footerContainer{
    height: calc(100% - 40px);
    margin-top: 100px;
  }


  /* amita css styles */
  .latestUpdate{
    background: #fff;
    border:1px solid #eee;
    text-align: left;
    box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0), 0 0px 1px 0px rgba(0, 0, 0, 0.11);
  }
  .latestUpdate header{
    text-align: left;
    font-weight: 600;
  }
  .latestUpdate .list-group .list-group-item
  {
    padding: 12px;
    font-size: 14px;
    border:0 !important;
    border-bottom: 1px solid #eee !important;
    border-radius: 0;
  }
  .loginheader{
    padding: 15px 10px;
    background: #191f28;
    color: #fff;
  }
  .loginformstyle{
    padding: 15px 10px;

  }
  .signheader{
    padding:15px;
    text-align: center;

  }
  .signform{
    padding:15px;
  }
  .headerlogo{
    padding:15px;
    
  }
  .headerlogo img{
    width:60%;
  }
  .bgformcolor{
    background-color: rgba(238, 238, 238, 0.2);
    padding:15px 0;
  }
  .cardlist{
    padding-bottom: 10px;
  }
  .signinbox{
    box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height:350px;
    background:rgba(0, 0, 0, 0.04);
    padding:0 !important;
    display:flex;
    margin-top:10%;
    margin-bottom:10%;

  }
.imgdiv{
    background-image:url("/img/loginbg.jpg");
    background-position:center;
    padding:0;
    background-size:cover;
    background-repeat:no-repeat;
    
  }
  .loginerrmsg{
    color: rgb(255, 120, 120);
    display: block;
    margin-top: 15px;
  }
  .signupbox{
    box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height:auto;
    background:rgba(0, 0, 0, 0.04);
    padding:0 !important;
    display:flex;
    margin-top:10%;
    margin-bottom:10%;
  }
  .signoutbtn{
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: transparent;
    border: none;
  }
  .chooseOption {
      font-weight: normal;
      color: #777;
      padding: 0 20px;
  }
 